include ../../../../src/_mixin/_LinkText.pug

p.common-Text
  | SSL 証明書を発行する認証局がドメインの所有者を証明する「サーバー証明書」を用いることで、SSL サーバー証明書が導入されたサイトのユーザーは、そのWebサイトが「情報の送信先」や「送信する情報が暗号化されること」を確認することができ、安心して利用することができます。また、企業認証は架空の企業でなく
  +LinkText({ href: "#", external: true }) 企業の実在を証明するサーバー証明書
  | であり、Webサイトを利用するユーザーにさらなる安心感を与えます。
