h2.common-Heading2 ブレイクポイント以上になったら改行する

ul
  li sm（375px）以上になったら
    br.common-Br.-showSm
    | 「これ以降が改行されます」
  li md（768px）以上になったら
    br.common-Br.-showMd
    | 「これ以降が改行されます」
  li lg（1024px）以上になったら
    br.common-Br.-showLg
    | 「これ以降が改行されます」
  li xl（1440px）以上になったら
    br.common-Br.-showXl
    | 「これ以降が改行されます」

h2.common-Heading2 ブレイクポイント未満の場合に改行する

ul
  li sm（375px）未満になったら
    br.common-Br.-hideSm
    | 「これ以降が改行されます」
  li md（768px）未満になったら
    br.common-Br.-hideMd
    | 「これ以降が改行されます」
  li lg（1024px）未満になったら
    br.common-Br.-hideLg
    | 「これ以降が改行されます」
  li xl（1440px）未満になったら
    br.common-Br.-hideXl
    | 「これ以降が改行されます」
