//- src/_mixin/にある.pugファイルをすべてincludeしてください。
//- src/_template/_default.pugでincludeすることで、ページ作成時に個別のincludeを不要にしています。
include /_mixin/_Icon
include /_mixin/_SrOnly
include /_mixin/_Picture
include /_mixin/_LinkText
