// ==========================================================================
// 命名規則
// ==========================================================================
// $[property-name][-variant-name][-breakpoint]
// [property-name]: プロパティ値（省略不可）。プロパティ値で表現できない場合は用途を端的に表した名前。
// [-variant-name]: 状態変化やバリエーションの名前。
// [-breakpoint]: ブレイクポイントのキー。

// ==========================================================================
// Color
// ==========================================================================

// ==========================================================================
// Typography
// ==========================================================================
$font-family-sans-serif: "Noto Sans JP", "Hiragino Kaku Gothic ProN", meiryo, sans-serif !default;
$font-family-monospace: consolas, menlo, courier, monospace !default;

// ==========================================================================
// Layout
// ==========================================================================

// コンテンツの最大幅
$max-width: 1520px !default;

// ==========================================================================
// Animation
// ==========================================================================

// ==========================================================================
// Form
// ==========================================================================
